.campus{
    width: 100%;
    margin: 0 auto;
    background-color: #192735;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoscampus {
    margin: 0 auto;
    color: white;
    background-color: #192735;
    padding-top: 50px;
}


.box7{
    width: 300px;
    padding: 20px;
    height: 300px;
}

ul{
    list-style: none;
    padding-top: 20px;
    line-height: 30px;
}

