.fourthcontainer{
    width: 100%;
}

.fourthjr{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 80px;
    font-size: 20px;
}

.fourthjr p{
    padding-top: 20px;
    width: 800px;
    margin: 0 auto;
}

.edubox{
    width: 1400px;
    margin: 0 auto;
}


.box3{
    width: 450px;
    height: 550px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    color: black;
}

.box3 img{
    width: 450px;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
}

.box3 p {
    margin: 30px;
    text-align: left;
}

.box3 h2 {
    text-align: left;
    margin: 30px;
    height: 130px;
}

.edubox{
    display: flex;
    justify-content: space-between;
}

li:hover{
    border-bottom: 2px black solid;
}

.box3 p:last-of-type{
    transition: .5s;
    border-top: black 2px solid;
    width: 150px;
}


.box3 p:last-of-type:hover{
    color: #e94247;
    transition: .5s;
    cursor: pointer;
    border-top: #e94247 5px solid;
    width: 100px;
}